# Homework 2. Popularity News RecSys : CS6365 Fall 2025

Justin Mittereder - G49843234

In [ ]:
import pandas as pd
import datetime
import numpy as np

col_names  = ['Impression ID', 'User ID', 'Time', 'History', 'Impressions']
train_behaviors_df = pd.read_csv('data/MINDsmall_train/behaviors.tsv', sep='\t', header=None, names=col_names)
train_behaviors_df.sort_values(by=['User ID', 'Time'], inplace=True)
train_behaviors_df.reset_index(drop=True, inplace=True)
val_behaviors_df = pd.read_csv('data/MINDsmall_dev/behaviors.tsv', sep='\t', header=None, names=col_names)
val_behaviors_df.sort_values(by=['User ID', 'Time'], inplace=True)
val_behaviors_df.reset_index(drop=True, inplace=True)

col_names  = ['News ID', 'Category', 'SubCategory', 'Title', 'Abstract', 'URL', 'Title Entities', 'Abstract Entities']
train_news_df = pd.read_csv('data/MINDsmall_train/news.tsv', sep='\t', header=None, names=col_names)
val_news_df = pd.read_csv('data/MINDsmall_dev/news.tsv', sep='\t', header=None, names=col_names)

In [2]:
train_behaviors_df.head()

,Impression ID,User ID,Time,History,Impressions
0,107691,U100,11/12/2019 7:34:12 AM,N20121 N33998 N45954 N55743 N50095 N18870 N534...,N61235-0 N54489-0 N42597-0 N7800-1 N61408-0 N2...
1,86767,U1000,11/13/2019 11:16:18 PM,N29641 N1789 N41244,N35273-0 N7618-0 N55281-0 N4021-0 N16148-0 N38...
2,74345,U1000,11/14/2019 10:37:21 PM,N29641 N1789 N41244,N14478-0 N58264-0 N7494-0 N46917-0 N22257-0 N1...
3,46640,U1000,11/14/2019 1:00:56 AM,N29641 N1789 N41244,N16148-0 N43628-0 N13094-0 N32774-0 N57034-0 N...
4,155923,U10001,11/11/2019 5:30:21 AM,N47937 N51706 N56447 N61319 N27644 N18030 N272...,N35729-0 N56598-0 N48759-0 N49685-0 N33632-0 N...

In [3]:
print("Len Behaviors: " , len(train_behaviors_df))
print("Unique Users: ", train_behaviors_df['User ID'].nunique())

Len Behaviors:  156965
Unique Users:  50000

In [4]:
train_news_df.head()

,News ID,Category,SubCategory,Title,Abstract,URL,Title Entities,Abstract Entities
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...","[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik..."
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,[],"[{""Label"": ""National Basketball Association"", ..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI..."

In [5]:
train_behaviors_df["unix_timestamp"] = pd.to_datetime(
    train_behaviors_df["Time"], 
    format="%m/%d/%Y %I:%M:%S %p"
).astype("int64") // 1_000_000_000

val_behaviors_df["unix_timestamp"] = pd.to_datetime(
    val_behaviors_df["Time"], 
    format="%m/%d/%Y %I:%M:%S %p"
).astype("int64") // 1_000_000_000

earliest_train_time = datetime.datetime.fromtimestamp(train_behaviors_df['unix_timestamp'].min())
latest_train_time = datetime.datetime.fromtimestamp(train_behaviors_df['unix_timestamp'].max())
earliest_val_time = datetime.datetime.fromtimestamp(val_behaviors_df['unix_timestamp'].min())
latest_val_time = datetime.datetime.fromtimestamp(val_behaviors_df['unix_timestamp'].max())

print(f"Training impressions are from between {earliest_train_time} and {latest_train_time} . ")
print(f"Validation impressions are from between {earliest_val_time} and {latest_val_time} . ")

Training impressions are from between 2019-11-08 19:00:19 and 2019-11-14 18:59:13 .
Validation impressions are from between 2019-11-14 19:00:01 and 2019-11-15 18:58:03 .

In [6]:
#get full df of all user impressions
import datetime
import pandas as pd

def get_impressions(df, include_history=False):
    rows = []
    for idx, row in df.iterrows():
        user_id = row["User ID"]
        time = row["unix_timestamp"]
        impressions = row["Impressions"]

        # split impressions
        for impression in impressions.split():
            article, click = impression.split("-")
            click = int(click)

            rows.append({
                "user_id": user_id,
                "timestamp": time,
                "article": article,
                "impression": click
            })

        if(include_history):
            # split impressions
            history = str(row['History'])
            for article in history.split(" "):
                rows.append({
                    "user_id": user_id,
                    "timestamp": "N/A",
                    "article": article,
                    "impression": 1 
                })
        
    impressions_df = pd.DataFrame(rows)
    impressions_df.sort_values(by=['user_id', 'timestamp'], inplace=True)
    impressions_df.reset_index(drop=True, inplace=True)
    return impressions_df    


impressions_df = get_impressions(train_behaviors_df)
print("Number of Impressions: ", len(impressions_df))
impressions_df.head()

Number of Impressions:  5843444

  user_id   timestamp article  impression
0    U100  1573544052  N61235           0
1    U100  1573544052  N54489           0
2    U100  1573544052  N42597           0
3    U100  1573544052   N7800           1
4    U100  1573544052  N61408           0

Get the most popular articles based on the number of successful impressions (clicks) in the current timestamp

In [7]:
success_impressions_df = impressions_df[impressions_df['impression'] == 1]
print("num successful impressions: ", len(success_impressions_df))
print("unique articles that have been clicked on: ", success_impressions_df['article'].nunique())

# Count clicks per user
click_counts_user = (success_impressions_df.groupby("user_id").size().reset_index(name="click_count"))
click_counts_user.sort_values('click_count', ascending=False, inplace=True)
print("Impressions User: \n", click_counts_user)
users_with_1_click = click_counts_user[click_counts_user['click_count'] == 1]
print("Size users with 1 impression: ", len(users_with_1_click))
print("Unique Users with impressions : " , click_counts_user['user_id'].nunique())
print("Unique Users with 1 impression : ", users_with_1_click['user_id'].nunique())

# Count impressions per article
impression_counts = (success_impressions_df.groupby("article").size().reset_index(name="impression_count"))
impression_counts.sort_values('impression_count', ascending=False, inplace=True)
#print("Impressions Article: \n", impression_counts)

# Sort by most clicked
popular_items = impression_counts.sort_values("impression_count", ascending=False)
print(popular_items)

# Convert to top 1000 list (most clicked first)
pop_list = popular_items["article"].head(1000).tolist()
print(pop_list)

num successful impressions:  236344
unique articles that have been clicked on:  7713
Impressions User:
       user_id  click_count
25379  U53220          129
35630  U70550          120
31460  U63482          112
6454   U20833           98
13226  U32322           96
...       ...          ...
15845  U36782            1
15846  U36787            1
44     U10060            1
17     U10026            1
23     U10038            1

[50000 rows x 2 columns]
Size users with 1 impression:  12810
Unique Users with impressions :  50000
Unique Users with 1 impression :  12810
     article  impression_count
5951  N55689              4316
3318  N35729              3346
3028  N33619              3246
5680  N53585              2835
7076  N63970              2578
...      ...               ...
7684   N9805                 1
7683   N9796                 1
7681   N9785                 1
7679   N9776                 1
7672   N9739                 1

[7713 rows x 2 columns]
['N55689', 'N35729', 'N33619', 'N53585', 'N63970', 'N49685', 'N49279', 'N287', 'N23446', 'N51048', 'N58363', 'N62360', 'N38779', 'N41881', 'N42977', 'N40839', 'N4642', 'N56214', 'N41020', 'N26262', 'N7821', 'N52122', 'N49180', 'N59673', 'N54489', 'N47020', 'N33885', 'N45523', 'N19661', 'N61022', 'N23414', 'N1034', 'N34185', 'N14029', 'N47061', 'N50675', 'N61233', 'N3123', 'N19592', 'N6477', 'N18708', 'N13930', 'N34876', 'N32544', 'N1539', 'N47098', 'N53017', 'N42457', 'N29212', 'N14184', 'N5442', 'N36789', 'N35170', 'N43502', 'N26706', 'N23877', 'N14592', 'N39010', 'N13907', 'N7319', 'N56211', 'N20678', 'N6837', 'N18870', 'N40109', 'N52622', 'N24176', 'N48759', 'N55943', 'N27581', 'N41934', 'N20495', 'N31978', 'N39115', 'N39317', 'N33981', 'N24272', 'N49712', 'N63550', 'N55204', 'N17059', 'N21707', 'N56193', 'N21420', 'N48017', 'N62318', 'N10960', 'N38215', 'N31947', 'N32182', 'N36226', 'N47652', 'N6056', 'N64174', 'N62128', 'N16096', 'N59981', 'N42634', 'N60992', 'N59852', 'N12029', 'N11817', 'N45509', 'N41387', 'N33212', 'N35815', 'N27845', 'N8509', 'N41178', 'N22417', 'N33501', 'N4021', 'N7121', 'N3841', 'N60272', 'N7128', 'N59390', 'N61768', 'N52867', 'N30998', 'N48657', 'N15855', 'N7618', 'N3344', 'N41220', 'N60105', 'N33964', 'N14436', 'N11830', 'N44422', 'N43102', 'N14478', 'N29128', 'N26179', 'N6926', 'N20079', 'N7809', 'N30518', 'N16920', 'N9621', 'N60550', 'N51570', 'N56051', 'N3663', 'N55949', 'N15194', 'N63154', 'N6578', 'N50872', 'N23814', 'N64851', 'N30475', 'N13801', 'N51287', 'N8015', 'N37204', 'N14780', 'N26025', 'N12493', 'N61185', 'N33677', 'N4936', 'N5652', 'N32641', 'N19318', 'N4510', 'N57097', 'N16439', 'N16844', 'N45266', 'N57005', 'N35738', 'N6890', 'N27560', 'N16148', 'N43519', 'N13579', 'N47412', 'N14726', 'N61408', 'N35389', 'N53470', 'N22339', 'N19444', 'N35047', 'N20576', 'N57754', 'N24109', 'N48705', 'N23184', 'N36752', 'N57957', 'N39342', 'N43083', 'N22880', 'N47817', 'N63538', 'N28072', 'N52723', 'N22457', 'N36186', 'N64916', 'N36545', 'N56227', 'N154', 'N57402', 'N4913', 'N47748', 'N64734', 'N25764', 'N46607', 'N50415', 'N59272', 'N33828', 'N48487', 'N12523', 'N6975', 'N40725', 'N42515', 'N8373', 'N8957', 'N35233', 'N42670', 'N32791', 'N27737', 'N55582', 'N62729', 'N58660', 'N36659', 'N41172', 'N51398', 'N24423', 'N53084', 'N10812', 'N57426', 'N16209', 'N453', 'N44698', 'N31448', 'N50060', 'N1644', 'N46526', 'N38159', 'N62688', 'N48077', 'N64513', 'N28213', 'N36261', 'N7328', 'N29341', 'N35172', 'N59267', 'N41122', 'N46917', 'N15315', 'N5370', 'N35937', 'N3894', 'N43748', 'N42961', 'N12028', 'N34869', 'N54482', 'N32691', 'N732', 'N58114', 'N33632', 'N12589', 'N1914', 'N65185', 'N25165', 'N20746', 'N13259', 'N61623', 'N62920', 'N47572', 'N23547', 'N33576', 'N350', 'N23942', 'N4404', 'N26376', 'N24111', 'N3491', 'N496', 'N41717', 'N34048', 'N61027', 'N9720', 'N9623', 'N25791', 'N29739', 'N38695', 'N18613', 'N41578', 'N47578', 'N2823', 'N53318', 'N42028', 'N46279', 'N14523', 'N45270', 'N43309', 'N57327', 'N1940', 'N31273', 'N3128', 'N38442', 'N62386', 'N4985', 'N44651', 'N48063', 'N59685', 'N56243', 'N37437', 'N45551', 'N11551', 'N30088', 'N37394', 'N39765', 'N64095', 'N47229', 'N20676', 'N25064', 'N23081', 'N21342', 'N64152', 'N45428', 'N23548', 'N36221', 'N58264', 'N63656', 'N17117', 'N47981', 'N30290', 'N60872', 'N21519', 'N52000', 'N20915', 'N9284', 'N61740', 'N56711', 'N6390', 'N34520', 'N29468', 'N1228', 'N63106', 'N46029', 'N22257', 'N20041', 'N8084', 'N38998', 'N33831', 'N19542', 'N43492', 'N57614', 'N41612', 'N24686', 'N18887', 'N42346', 'N62049', 'N16328', 'N4247', 'N6066', 'N57090', 'N48046', 'N51853', 'N57081', 'N13423', 'N26227', 'N16804', 'N33261', 'N59385', 'N5957', 'N50469', 'N33755', 'N36436', 'N23805', 'N60750', 'N25138', 'N26286', 'N64305', 'N38138', 'N59252', 'N56396', 'N35767', 'N39471', 'N30108', 'N11363', 'N47035', 'N61145', 'N62894', 'N18312', 'N64094', 'N9349', 'N46751', 'N8061', 'N38783', 'N64252', 'N20811', 'N33630', 'N57651', 'N55186', 'N25949', 'N29340', 'N24180', 'N1019', 'N46992', 'N12731', 'N12608', 'N21077', 'N13981', 'N28188', 'N45660', 'N64542', 'N55714', 'N55940', 'N43595', 'N56598', 'N51954', 'N43073', 'N26673', 'N41222', 'N17031', 'N32567', 'N40300', 'N10272', 'N32010', 'N63583', 'N54125', 'N6099', 'N15269', 'N27079', 'N60374', 'N51187', 'N28047', 'N24157', 'N48473', 'N15279', 'N26331', 'N38697', 'N28523', 'N43432', 'N41757', 'N57132', 'N38309', 'N27789', 'N34998', 'N20954', 'N15719', 'N52294', 'N37377', 'N41224', 'N27961', 'N36660', 'N61483', 'N33240', 'N61404', 'N4754', 'N9475', 'N61787', 'N22975', 'N55606', 'N45016', 'N21701', 'N279', 'N61571', 'N6693', 'N7494', 'N37009', 'N50688', 'N21712', 'N17586', 'N61463', 'N28046', 'N62395', 'N9047', 'N36624', 'N25546', 'N12579', 'N35305', 'N49491', 'N5980', 'N25624', 'N25295', 'N50389', 'N9473', 'N55132', 'N3930', 'N4912', 'N37019', 'N51006', 'N18378', 'N20729', 'N52409', 'N43789', 'N17087', 'N39978', 'N36850', 'N6342', 'N47006', 'N44516', 'N8559', 'N48578', 'N29001', 'N24509', 'N25471', 'N42597', 'N8191', 'N21882', 'N58410', 'N35273', 'N6379', 'N706', 'N47717', 'N48958', 'N58003', 'N36003', 'N13369', 'N38869', 'N4663', 'N28983', 'N25605', 'N63786', 'N32144', 'N28413', 'N54666', 'N12168', 'N6658', 'N58345', 'N166', 'N51285', 'N39187', 'N7419', 'N51346', 'N16166', 'N64482', 'N1180', 'N3031', 'N18529', 'N25722', 'N55631', 'N54988', 'N48890', 'N10688', 'N30135', 'N45375', 'N12800', 'N18151', 'N27289', 'N45389', 'N17340', 'N36612', 'N54274', 'N24207', 'N58499', 'N19911', 'N17307', 'N15435', 'N57032', 'N11768', 'N57818', 'N50329', 'N61214', 'N60932', 'N62070', 'N49487', 'N55645', 'N45704', 'N37533', 'N30188', 'N53907', 'N9135', 'N50314', 'N15224', 'N40495', 'N25444', 'N3285', 'N50484', 'N64968', 'N38404', 'N36621', 'N20824', 'N9139', 'N45076', 'N40071', 'N61359', 'N46878', 'N17115', 'N33', 'N48019', 'N12446', 'N16342', 'N22407', 'N22816', 'N35393', 'N926', 'N48920', 'N37753', 'N18406', 'N25867', 'N61811', 'N64543', 'N53054', 'N28132', 'N12377', 'N61032', 'N57604', 'N16463', 'N38490', 'N23429', 'N27437', 'N55555', 'N21656', 'N29735', 'N54300', 'N11769', 'N20134', 'N2', 'N26649', 'N45734', 'N58553', 'N51553', 'N27932', 'N3517', 'N61822', 'N54752', 'N14440', 'N8687', 'N3821', 'N21297', 'N35854', 'N34724', 'N41380', 'N62366', 'N44324', 'N16777', 'N1680', 'N36638', 'N22320', 'N31504', 'N19050', 'N53886', 'N14170', 'N46821', 'N59142', 'N5075', 'N36681', 'N26795', 'N41354', 'N36016', 'N5048', 'N35847', 'N46258', 'N53848', 'N10121', 'N59887', 'N43869', 'N21479', 'N29490', 'N37994', 'N31556', 'N23784', 'N9009', 'N64745', 'N32387', 'N57713', 'N44249', 'N42698', 'N62391', 'N25467', 'N43386', 'N12424', 'N18103', 'N13580', 'N26721', 'N37781', 'N45561', 'N21128', 'N20043', 'N47267', 'N65027', 'N5688', 'N5364', 'N43487', 'N44399', 'N61962', 'N38263', 'N11869', 'N59713', 'N45590', 'N61320', 'N49956', 'N50138', 'N29839', 'N14408', 'N15160', 'N59088', 'N52471', 'N31289', 'N28899', 'N53615', 'N52424', 'N41569', 'N50592', 'N10551', 'N962', 'N47067', 'N22408', 'N34668', 'N20527', 'N21036', 'N62762', 'N2960', 'N42922', 'N25414', 'N6857', 'N51489', 'N42803', 'N12492', 'N36351', 'N57733', 'N41165', 'N34600', 'N47149', 'N22825', 'N50302', 'N2169', 'N41285', 'N17231', 'N43415', 'N32015', 'N30920', 'N288', 'N52773', 'N52180', 'N17130', 'N31406', 'N35671', 'N9271', 'N51330', 'N17252', 'N4485', 'N58848', 'N40171', 'N31893', 'N31050', 'N49194', 'N32097', 'N37338', 'N15761', 'N23085', 'N8855', 'N34110', 'N17072', 'N10754', 'N11940', 'N23174', 'N51478', 'N40380', 'N46845', 'N61950', 'N3697', 'N55743', 'N44146', 'N56517', 'N646', 'N43460', 'N57368', 'N16915', 'N31679', 'N19092', 'N52433', 'N30035', 'N30619', 'N29801', 'N62093', 'N29854', 'N63646', 'N26130', 'N45366', 'N25212', 'N28767', 'N12627', 'N16118', 'N6953', 'N57385', 'N36086', 'N20076', 'N46477', 'N21428', 'N61595', 'N28862', 'N16419', 'N25163', 'N58572', 'N3167', 'N23563', 'N63958', 'N55411', 'N51975', 'N10840', 'N61742', 'N1951', 'N63796', 'N50791', 'N51634', 'N4156', 'N57716', 'N23162', 'N40468', 'N10746', 'N7754', 'N48064', 'N34956', 'N36689', 'N7891', 'N18423', 'N36931', 'N31395', 'N54232', 'N22061', 'N35094', 'N36786', 'N58569', 'N47346', 'N64632', 'N28735', 'N37673', 'N55913', 'N59407', 'N29822', 'N47889', 'N41979', 'N23760', 'N4854', 'N9215', 'N3179', 'N19903', 'N45550', 'N36933', 'N21915', 'N44737', 'N53696', 'N42397', 'N49483', 'N56355', 'N9163', 'N37190', 'N8907', 'N33848', 'N63174', 'N51195', 'N6458', 'N37870', 'N33005', 'N53587', 'N53515', 'N47942', 'N7840', 'N45742', 'N64184', 'N60858', 'N12850', 'N51970', 'N43370', 'N3589', 'N49200', 'N61760', 'N58051', 'N18403', 'N8242', 'N46586', 'N64009', 'N39015', 'N34400', 'N20428', 'N36348', 'N55207', 'N22230', 'N13094', 'N30295', 'N61006', 'N28203', 'N17069', 'N1289', 'N40318', 'N38949', 'N62750', 'N39531', 'N7431', 'N59469', 'N24301', 'N43266', 'N45422', 'N21753', 'N37199', 'N7670', 'N4428', 'N26415', 'N32846', 'N65118', 'N32519', 'N12325', 'N7927', 'N58301', 'N14520', 'N57844', 'N8400', 'N50601', 'N36703', 'N57459', 'N57527', 'N18978', 'N55275', 'N5497', 'N38662', 'N3415', 'N39461', 'N28918', 'N3541', 'N1604', 'N45173', 'N34451', 'N10116', 'N3506', 'N51506', 'N55488', 'N37497', 'N21484', 'N23089', 'N58054', 'N29218', 'N23129', 'N17195', 'N20178', 'N9719', 'N29964', 'N39949', 'N39267', 'N41842', 'N40438', 'N32890', 'N1952', 'N27198', 'N27583', 'N349', 'N60585', 'N23864', 'N45211', 'N46283', 'N17357', 'N36288', 'N9158', 'N9457', 'N20486', 'N20270', 'N58814', 'N57014', 'N60606', 'N3339', 'N38311', 'N38315', 'N48416', 'N52662', 'N5288', 'N28934', 'N29952', 'N30814', 'N52554', 'N62570', 'N17140', 'N17104', 'N14285', 'N45442', 'N50014', 'N61296', 'N55281', 'N58549', 'N30454', 'N53899', 'N2869', 'N2578', 'N13816', 'N6916', 'N5889', 'N37384', 'N12839', 'N12995', 'N10350', 'N47245', 'N36424', 'N3380', 'N54348', 'N25088', 'N12392', 'N4107', 'N4034', 'N261', 'N13730']

In [8]:
print(val_behaviors_df['User ID'].nunique())
print(len(val_behaviors_df))
val_counts = val_behaviors_df['User ID'].value_counts()
print(val_counts)
val_more_than_1 = val_counts > 1
len(val_behaviors_df)
print(val_more_than_1[val_more_than_1 == True].sum())
print()

50000
73152
User ID
U38741    18
U67841    15
U86264    12
U82600    12
U32122    12
          ..
U9990      1
U9994      1
U27981     1
U9998      1
U84162     1
Name: count, Length: 50000, dtype: int64
14826

In [9]:
val_behaviors_df.head()
print(val_behaviors_df.iloc[0]['History'])
print(type(val_behaviors_df.iloc[0]['History']))
print("Empty Histories: " , val_behaviors_df["History"].isna().sum())
print("Not Empty Histories: ", val_behaviors_df['History'].notna().sum())

N23571 N58267 N25682 N10646 N32607 N57737 N52301 N596 N24356 N13374 N40207 N62058
<class 'str'>
Empty Histories:  2214
Not Empty Histories:  70938

In [10]:
#aggregate the histories for each unique user
#since there are rows with the same User ID, we need to add the histories for each user together before going to the get_popularity_recs function
val_behaviors_df["History_list"] = val_behaviors_df["History"].str.split()
# Aggregate lists per user
val_behaviors_df["History_list"] = val_behaviors_df["History_list"].apply(lambda x: x if isinstance(x, list) else []) # make all empty Histories an empty list
val_df_grouped = val_behaviors_df.groupby("User ID")["History_list"].agg(lambda lists: sum(lists, [])).reset_index()
val_df_grouped["History_list"] = val_df_grouped["History_list"].apply(lambda x: list(set(x)))
print(val_df_grouped.head())

  User ID                                       History_list
0      U1  [N23571, N10646, N25682, N596, N13374, N52301,...
1     U10  [N27612, N64777, N9120, N57967, N2945, N9803, ...
2  U10000  [N35560, N2231, N62058, N9155, N56753, N32748,...
3  U10002  [N64777, N32203, N49475, N46987, N57742, N3911...
4  U10004  [N38118, N43482, N52665, N27251, N18870, N1562...

In [11]:
#For each user in val sets, get their recommendations while also filtering out their previously viewed articles in the 'History' field
def get_popularity_recs(df, k):
    user_recs = {}
    for _, row in df.iterrows():
        user_id = row["User ID"]
        #gets users previously clicked articles
        history = row['History_list']
        # for each item in the popularity list, add it to recommendations if its not in the users history
        filtered = [item for item in pop_list if item not in history]

        #grab top k
        user_recs[user_id] = filtered[:k]
    return user_recs

val_user_recs_10 = get_popularity_recs(val_df_grouped, k=10)
val_user_recs_5 = get_popularity_recs(val_df_grouped, k=5)

In [18]:
val_news_candidates = {}
val_clicked = {}

for _, row in val_behaviors_df.iterrows():
    user = row["User ID"]
    impressions = row["Impressions"].split()
    
    candidates = [item.split('-')[0] for item in impressions] #get all articles in impression
    clicked_item = [item.split('-')[0] for item in impressions if item.endswith('-1')][0] #get all articles clicked on in impression
    
    val_news_candidates[user] = candidates
    val_clicked[user] = clicked_item

In [19]:
def mrr_score(ranked_items, clicked_item):
    """Compute reciprocal rank for one user"""
    try:
        rank = ranked_items.index(clicked_item) + 1
        return 1.0 / rank
    except ValueError:
        return 0.0

def hit_rate(ranked_items, clicked_item, k):
    """Check if clicked item is in top-k"""
    return int(clicked_item in ranked_items[:k])

def ndcg_at_k(ranked_items, clicked_item, k):
    """Compute nDCG@k for a single user (binary relevance)"""
    try:
        rank_position = ranked_items[:k].index(clicked_item) + 1
        return 1.0 / np.log2(rank_position + 1)
    except ValueError:
        return 0.0

def auc_from_ranked_list(ranked_items, candidates, clicked_item):
    """
    Approximate AUC using rank ordering:
    AUC = (# negative items ranked below clicked item) / (# negative items)
    """
    clicked_rank = ranked_items.index(clicked_item)
    num_neg = len(candidates) - 1
    num_neg_below = num_neg - clicked_rank
    return num_neg_below / num_neg

In [20]:
mrr_list = []
hit5_list = []
hit10_list = []
ndcg5_list = []
ndcg10_list = []
auc_list = []

for user in val_news_candidates.keys():

    candidates = val_news_candidates[user]
    clicked = val_clicked[user]

    rec5 = val_user_recs_5[user]   # top 5 items recommended
    rec10 = val_user_recs_10[user] # top 10 items recommended

    # Ensure the full ranking exists (for MRR and AUC)
    # if candidate items not included in recommended, then add them to the end of candidate list so we can still calculate MRR and AUC
    full_ranked = val_user_recs_10[user].copy()
    # If fewer than all candidates provided, append missing ones at bottom
    missing = [c for c in candidates if c not in full_ranked]
    full_ranked.extend(missing)

    # Metrics
    mrr_list.append(mrr_score(full_ranked, clicked))
    hit5_list.append(hit_rate(rec5, clicked, 5))
    hit10_list.append(hit_rate(rec10, clicked, 10))
    ndcg5_list.append(ndcg_at_k(rec5, clicked, 5))
    ndcg10_list.append(ndcg_at_k(rec10, clicked, 10))
    #auc_list.append(auc_from_ranked_list(full_ranked, candidates, clicked))

# Aggregate
metrics = {
    #"AUC": np.mean(auc_list),
    "MRR": np.mean(mrr_list),
    "HitRate@5": np.mean(hit5_list),
    "HitRate@10": np.mean(hit10_list),
    "nDCG@5": np.mean(ndcg5_list),
    "nDCG@10": np.mean(ndcg10_list),
}

print("Evaluation Metrics:")
for k, v in metrics.items():
    print(f"{k}: {v:.4f}")

Evaluation Metrics:
MRR: 0.0546
HitRate@5: 0.0000
HitRate@10: 0.0005
nDCG@5: 0.0000
nDCG@10: 0.0001