# Homework 2. Popularity News RecSys : CS6365 Fall 2025

Justin Mittereder - G49843234

In [123]:
import pandas as pd
import datetime

col_names  = ['Impression ID', 'User ID', 'Time', 'History', 'Impressions']
train_behaviors_df = pd.read_csv('data/MINDsmall_train/behaviors.tsv', sep='\t', header=None, names=col_names)
train_behaviors_df.sort_values(by=['User ID', 'Time'], inplace=True)
train_behaviors_df.reset_index(drop=True, inplace=True)
val_behaviors_df = pd.read_csv('data/MINDsmall_dev/behaviors.tsv', sep='\t', header=None, names=col_names)
val_behaviors_df.sort_values(by=['User ID', 'Time'], inplace=True)
val_behaviors_df.reset_index(drop=True, inplace=True)

col_names  = ['News ID', 'Category', 'SubCategory', 'Title', 'Abstract', 'URL', 'Title Entities', 'Abstract Entities']
train_news_df = pd.read_csv('data/MINDsmall_train/news.tsv', sep='\t', header=None, names=col_names)
val_news_df = pd.read_csv('data/MINDsmall_dev/news.tsv', sep='\t', header=None, names=col_names)

In [124]:
train_behaviors_df.head()

,Impression ID,User ID,Time,History,Impressions
0,107691,U100,11/12/2019 7:34:12 AM,N20121 N33998 N45954 N55743 N50095 N18870 N534...,N61235-0 N54489-0 N42597-0 N7800-1 N61408-0 N2...
1,86767,U1000,11/13/2019 11:16:18 PM,N29641 N1789 N41244,N35273-0 N7618-0 N55281-0 N4021-0 N16148-0 N38...
2,74345,U1000,11/14/2019 10:37:21 PM,N29641 N1789 N41244,N14478-0 N58264-0 N7494-0 N46917-0 N22257-0 N1...
3,46640,U1000,11/14/2019 1:00:56 AM,N29641 N1789 N41244,N16148-0 N43628-0 N13094-0 N32774-0 N57034-0 N...
4,155923,U10001,11/11/2019 5:30:21 AM,N47937 N51706 N56447 N61319 N27644 N18030 N272...,N35729-0 N56598-0 N48759-0 N49685-0 N33632-0 N...

In [125]:
print("Len Behaviors: " , len(train_behaviors_df))
print("Unique Users: ", train_behaviors_df['User ID'].nunique())

Len Behaviors:  156965
Unique Users:  50000

In [126]:
train_news_df.head()

,News ID,Category,SubCategory,Title,Abstract,URL,Title Entities,Abstract Entities
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...","[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik..."
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,[],"[{""Label"": ""National Basketball Association"", ..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI..."

In [127]:
train_behaviors_df["unix_timestamp"] = pd.to_datetime(
    train_behaviors_df["Time"], 
    format="%m/%d/%Y %I:%M:%S %p"
).astype("int64") // 1_000_000_000

val_behaviors_df["unix_timestamp"] = pd.to_datetime(
    val_behaviors_df["Time"], 
    format="%m/%d/%Y %I:%M:%S %p"
).astype("int64") // 1_000_000_000

earliest_train_time = datetime.datetime.fromtimestamp(train_behaviors_df['unix_timestamp'].min())
latest_train_time = datetime.datetime.fromtimestamp(train_behaviors_df['unix_timestamp'].max())
earliest_val_time = datetime.datetime.fromtimestamp(val_behaviors_df['unix_timestamp'].min())
latest_val_time = datetime.datetime.fromtimestamp(val_behaviors_df['unix_timestamp'].max())

print(f"Training impressions are from between {earliest_train_time} and {latest_train_time} . ")
print(f"Validation impressions are from between {earliest_val_time} and {latest_val_time} . ")

Training impressions are from between 2019-11-08 19:00:19 and 2019-11-14 18:59:13 .
Validation impressions are from between 2019-11-14 19:00:01 and 2019-11-15 18:58:03 .

In [128]:
#get full df of all user impressions
import datetime
import pandas as pd

def get_impressions(df, include_history=False):
    rows = []
    for idx, row in df.iterrows():
        user_id = row["User ID"]
        time = row["unix_timestamp"]
        impressions = row["Impressions"]

        # split impressions
        for impression in impressions.split():
            article, click = impression.split("-")
            click = int(click)

            rows.append({
                "user_id": user_id,
                "timestamp": time,
                "article": article,
                "impression": click
            })

        if(include_history):
            # split impressions
            history = str(row['History'])
            for article in history.split(" "):
                rows.append({
                    "user_id": user_id,
                    "timestamp": "N/A",
                    "article": article,
                    "impression": 1 
                })
        
    impressions_df = pd.DataFrame(rows)
    impressions_df.sort_values(by=['user_id', 'timestamp'], inplace=True)
    impressions_df.reset_index(drop=True, inplace=True)
    return impressions_df    


impressions_df = get_impressions(train_behaviors_df)
print("Number of Impressions: ", len(impressions_df))
impressions_df.head()

Number of Impressions:  5843444

  user_id   timestamp article  impression
0    U100  1573544052  N61235           0
1    U100  1573544052  N54489           0
2    U100  1573544052  N42597           0
3    U100  1573544052   N7800           1
4    U100  1573544052  N61408           0

Get the most popular articles based on the number of successful impressions (clicks) in the current timestamp

In [129]:
success_impressions_df = impressions_df[impressions_df['impression'] == 1]
print("num successful impressions: ", len(success_impressions_df))
print("unique articles that have been clicked on: ", success_impressions_df['article'].nunique())

# Count clicks per user
click_counts_user = (success_impressions_df.groupby("user_id").size().reset_index(name="click_count"))
click_counts_user.sort_values('click_count', ascending=False, inplace=True)
print("Impressions User: \n", click_counts_user)
users_with_1_click = click_counts_user[click_counts_user['click_count'] == 1]
print("Size users with 1 impression: ", len(users_with_1_click))
print("Unique Users with impressions : " , click_counts_user['user_id'].nunique())
print("Unique Users with 1 impression : ", users_with_1_click['user_id'].nunique())

# Count impressions per article
impression_counts = (success_impressions_df.groupby("article").size().reset_index(name="impression_count"))
impression_counts.sort_values('impression_count', ascending=False, inplace=True)
#print("Impressions Article: \n", impression_counts)

# Sort by most clicked
popular_items = impression_counts.sort_values("impression_count", ascending=False)
print(popular_items)

# Convert to top 1000 list (most clicked first)
pop_list = popular_items["article"].head(1000).tolist()
print(pop_list)

num successful impressions:  236344
unique articles that have been clicked on:  7713
Impressions User:
       user_id  click_count
25379  U53220          129
35630  U70550          120
31460  U63482          112
6454   U20833           98
13226  U32322           96
...       ...          ...
26392  U54966            1
26375  U54934            1
26370  U54927            1
26358  U54909            1
25000  U52589            1

[50000 rows x 2 columns]
Size users with 1 impression:  12810
Unique Users with impressions :  50000
Unique Users with 1 impression :  12810
     article  impression_count
5951  N55689              4316
3318  N35729              3346
3028  N33619              3246
5680  N53585              2835
7076  N63970              2578
...      ...               ...
7258   N6642                 1
381   N12977                 1
546   N14323                 1
545   N14320                 1
0     N10032                 1

[7713 rows x 2 columns]
['N55689', 'N35729', 'N33619', 'N53585', 'N63970', 'N49685', 'N49279', 'N287', 'N23446', 'N51048', 'N58363', 'N62360', 'N38779', 'N41881', 'N42977', 'N40839', 'N4642', 'N56214', 'N26262', 'N41020', 'N7821', 'N52122', 'N49180', 'N59673', 'N54489', 'N47020', 'N33885', 'N45523', 'N19661', 'N61022', 'N23414', 'N1034', 'N34185', 'N14029', 'N47061', 'N50675', 'N61233', 'N3123', 'N19592', 'N6477', 'N18708', 'N13930', 'N34876', 'N32544', 'N1539', 'N47098', 'N53017', 'N42457', 'N29212', 'N14184', 'N5442', 'N36789', 'N35170', 'N43502', 'N26706', 'N23877', 'N14592', 'N39010', 'N13907', 'N7319', 'N56211', 'N20678', 'N18870', 'N6837', 'N40109', 'N52622', 'N24176', 'N48759', 'N55943', 'N27581', 'N41934', 'N20495', 'N31978', 'N39317', 'N39115', 'N33981', 'N24272', 'N49712', 'N63550', 'N55204', 'N17059', 'N21707', 'N56193', 'N21420', 'N48017', 'N62318', 'N10960', 'N38215', 'N31947', 'N32182', 'N36226', 'N6056', 'N47652', 'N64174', 'N62128', 'N16096', 'N42634', 'N59981', 'N60992', 'N59852', 'N12029', 'N11817', 'N45509', 'N41387', 'N33212', 'N27845', 'N35815', 'N8509', 'N41178', 'N33501', 'N22417', 'N4021', 'N7121', 'N3841', 'N60272', 'N7128', 'N59390', 'N61768', 'N30998', 'N52867', 'N48657', 'N15855', 'N7618', 'N3344', 'N41220', 'N14436', 'N11830', 'N33964', 'N60105', 'N44422', 'N43102', 'N29128', 'N14478', 'N26179', 'N6926', 'N20079', 'N7809', 'N30518', 'N16920', 'N9621', 'N60550', 'N51570', 'N56051', 'N3663', 'N55949', 'N15194', 'N63154', 'N6578', 'N50872', 'N23814', 'N30475', 'N64851', 'N51287', 'N13801', 'N37204', 'N8015', 'N14780', 'N26025', 'N61185', 'N12493', 'N33677', 'N4936', 'N5652', 'N32641', 'N19318', 'N4510', 'N16439', 'N57097', 'N16844', 'N57005', 'N45266', 'N35738', 'N6890', 'N16148', 'N27560', 'N13579', 'N43519', 'N47412', 'N14726', 'N35389', 'N61408', 'N53470', 'N22339', 'N19444', 'N20576', 'N35047', 'N57754', 'N24109', 'N48705', 'N23184', 'N36752', 'N57957', 'N39342', 'N43083', 'N63538', 'N47817', 'N22880', 'N28072', 'N52723', 'N22457', 'N36186', 'N64916', 'N56227', 'N36545', 'N154', 'N57402', 'N47748', 'N4913', 'N64734', 'N46607', 'N25764', 'N59272', 'N50415', 'N33828', 'N48487', 'N6975', 'N12523', 'N40725', 'N42515', 'N8373', 'N8957', 'N35233', 'N32791', 'N42670', 'N55582', 'N62729', 'N27737', 'N36659', 'N51398', 'N58660', 'N41172', 'N24423', 'N53084', 'N57426', 'N10812', 'N16209', 'N50060', 'N31448', 'N44698', 'N453', 'N1644', 'N46526', 'N38159', 'N62688', 'N64513', 'N48077', 'N28213', 'N36261', 'N7328', 'N29341', 'N35172', 'N59267', 'N41122', 'N46917', 'N5370', 'N15315', 'N35937', 'N3894', 'N43748', 'N42961', 'N12028', 'N54482', 'N34869', 'N32691', 'N732', 'N58114', 'N33632', 'N1914', 'N12589', 'N20746', 'N65185', 'N25165', 'N13259', 'N61623', 'N62920', 'N23547', 'N47572', 'N33576', 'N4404', 'N350', 'N26376', 'N23942', 'N24111', 'N3491', 'N41717', 'N496', 'N9720', 'N34048', 'N61027', 'N9623', 'N25791', 'N29739', 'N38695', 'N18613', 'N47578', 'N41578', 'N42028', 'N53318', 'N2823', 'N14523', 'N43309', 'N45270', 'N46279', 'N57327', 'N3128', 'N31273', 'N38442', 'N1940', 'N62386', 'N4985', 'N44651', 'N48063', 'N59685', 'N45551', 'N37437', 'N56243', 'N11551', 'N30088', 'N37394', 'N39765', 'N64095', 'N47229', 'N20676', 'N25064', 'N23081', 'N21342', 'N64152', 'N63656', 'N58264', 'N36221', 'N23548', 'N45428', 'N17117', 'N47981', 'N21519', 'N30290', 'N60872', 'N9284', 'N61740', 'N52000', 'N20915', 'N6390', 'N34520', 'N56711', 'N29468', 'N46029', 'N1228', 'N63106', 'N22257', 'N20041', 'N8084', 'N38998', 'N19542', 'N33831', 'N24686', 'N62049', 'N42346', 'N4247', 'N6066', 'N16328', 'N57090', 'N18887', 'N41612', 'N43492', 'N57614', 'N48046', 'N51853', 'N57081', 'N13423', 'N26227', 'N33261', 'N16804', 'N59385', 'N36436', 'N23805', 'N50469', 'N33755', 'N5957', 'N60750', 'N25138', 'N26286', 'N59252', 'N56396', 'N38138', 'N64305', 'N35767', 'N61145', 'N30108', 'N47035', 'N39471', 'N11363', 'N18312', 'N9349', 'N62894', 'N46751', 'N64094', 'N8061', 'N64252', 'N38783', 'N20811', 'N24180', 'N1019', 'N55186', 'N29340', 'N57651', 'N25949', 'N33630', 'N46992', 'N12731', 'N12608', 'N55714', 'N64542', 'N45660', 'N28188', 'N21077', 'N13981', 'N56598', 'N55940', 'N43595', 'N41222', 'N26673', 'N43073', 'N51954', 'N32567', 'N10272', 'N40300', 'N17031', 'N63583', 'N32010', 'N6099', 'N60374', 'N27079', 'N15269', 'N54125', 'N51187', 'N28047', 'N48473', 'N24157', 'N15279', 'N28523', 'N26331', 'N38697', 'N43432', 'N41757', 'N27789', 'N34998', 'N57132', 'N38309', 'N15719', 'N20954', 'N41224', 'N37377', 'N52294', 'N27961', 'N33240', 'N4754', 'N61787', 'N61404', 'N61483', 'N9475', 'N36660', 'N55606', 'N45016', 'N279', 'N21701', 'N22975', 'N61571', 'N7494', 'N6693', 'N37009', 'N50688', 'N21712', 'N9047', 'N28046', 'N62395', 'N61463', 'N36624', 'N17586', 'N25546', 'N35305', 'N12579', 'N25624', 'N5980', 'N49491', 'N25295', 'N9473', 'N55132', 'N50389', 'N3930', 'N51006', 'N4912', 'N37019', 'N36850', 'N43789', 'N18378', 'N6342', 'N20729', 'N52409', 'N47006', 'N39978', 'N17087', 'N48578', 'N8559', 'N44516', 'N29001', 'N42597', 'N24509', 'N25471', 'N8191', 'N21882', 'N58410', 'N35273', 'N38869', 'N4663', 'N48958', 'N36003', 'N58003', 'N47717', 'N6379', 'N706', 'N13369', 'N63786', 'N28983', 'N25605', 'N28413', 'N32144', 'N54666', 'N12168', 'N166', 'N58345', 'N6658', 'N51285', 'N7419', 'N39187', 'N64482', 'N51346', 'N16166', 'N55631', 'N25722', 'N3031', 'N18529', 'N1180', 'N48890', 'N10688', 'N12800', 'N45375', 'N54988', 'N30135', 'N18151', 'N19911', 'N45389', 'N17340', 'N54274', 'N58499', 'N36612', 'N24207', 'N27289', 'N50329', 'N57818', 'N61214', 'N15435', 'N11768', 'N57032', 'N17307', 'N62070', 'N49487', 'N60932', 'N55645', 'N45704', 'N15224', 'N9135', 'N50314', 'N53907', 'N30188', 'N37533', 'N25444', 'N40495', 'N50484', 'N3285', 'N64968', 'N38404', 'N36621', 'N61359', 'N9139', 'N45076', 'N20824', 'N46878', 'N40071', 'N22407', 'N17115', 'N12446', 'N48019', 'N16342', 'N33', 'N35393', 'N18406', 'N25867', 'N48920', 'N37753', 'N64543', 'N22816', 'N53054', 'N926', 'N61811', 'N28132', 'N57604', 'N61032', 'N16463', 'N12377', 'N55555', 'N11769', 'N29735', 'N20134', 'N54300', 'N38490', 'N21656', 'N23429', 'N27437', 'N61822', 'N3517', 'N45734', 'N2', 'N58553', 'N27932', 'N51553', 'N26649', 'N3821', 'N8687', 'N14440', 'N54752', 'N62366', 'N35854', 'N44324', 'N16777', 'N21297', 'N34724', 'N41380', 'N36638', 'N22320', 'N53886', 'N14170', 'N1680', 'N31504', 'N19050', 'N46821', 'N59142', 'N36016', 'N41354', 'N26795', 'N5048', 'N36681', 'N5075', 'N21479', 'N35847', 'N59887', 'N46258', 'N31556', 'N53848', 'N29490', 'N37994', 'N10121', 'N43869', 'N64745', 'N23784', 'N42698', 'N32387', 'N62391', 'N9009', 'N25467', 'N43386', 'N44249', 'N57713', 'N65027', 'N21128', 'N45561', 'N37781', 'N18103', 'N13580', 'N26721', 'N5688', 'N12424', 'N47267', 'N20043', 'N11869', 'N44399', 'N49956', 'N5364', 'N61320', 'N43487', 'N59713', 'N61962', 'N29839', 'N38263', 'N50138', 'N45590', 'N14408', 'N59088', 'N52424', 'N31289', 'N52471', 'N28899', 'N15160', 'N53615', 'N962', 'N47067', 'N50592', 'N10551', 'N41569', 'N62762', 'N2960', 'N34668', 'N25414', 'N22408', 'N20527', 'N21036', 'N42922', 'N36351', 'N47149', 'N57733', 'N34600', 'N42803', 'N41165', 'N12492', 'N51489', 'N6857', 'N2169', 'N41285', 'N52180', 'N52773', 'N17231', 'N43415', 'N288', 'N22825', 'N50302', 'N32015', 'N30920', 'N51330', 'N4485', 'N15761', 'N31893', 'N35671', 'N9271', 'N32097', 'N17130', 'N58848', 'N40171', 'N49194', 'N31406', 'N37338', 'N17252', 'N31050', 'N23085', 'N34110', 'N10754', 'N51478', 'N11940', 'N8855', 'N40380', 'N23174', 'N17072', 'N57368', 'N43460', 'N56517', 'N19092', 'N3697', 'N61950', 'N16915', 'N31679', 'N44146', 'N46845', 'N55743', 'N646', 'N30619', 'N16118', 'N29854', 'N52433', 'N45366', 'N29801', 'N26130', 'N63646', 'N6953', 'N36086', 'N28767', 'N20076', 'N12627', 'N46477', 'N30035', 'N57385', 'N62093', 'N25212', 'N23563', 'N25163', 'N63958', 'N3167', 'N61595', 'N10840', 'N55411', 'N16419', 'N28862', 'N61742', 'N51975', 'N58572', 'N21428', 'N57716', 'N1951', 'N50791', 'N23162', 'N10746', 'N40468', 'N51634', 'N4156', 'N7891', 'N48064', 'N7754', 'N63796', 'N34956', 'N36689', 'N58569', 'N36931', 'N47346', 'N18423', 'N36786', 'N31395', 'N64632', 'N22061', 'N35094', 'N54232', 'N3179', 'N29822', 'N59407', 'N19903', 'N9215', 'N47889', 'N23760', 'N55913', 'N37673', 'N36933', 'N45550', 'N4854', 'N41979', 'N28735', 'N44737', 'N42397', 'N8907', 'N21915', 'N56355', 'N37190', 'N53696', 'N9163', 'N49483', 'N45742', 'N37870', 'N33848', 'N7840', 'N53587', 'N60858', 'N64184', 'N53515', 'N47942', 'N6458', 'N33005', 'N51195', 'N63174', 'N51970', 'N18403', 'N43370', 'N61760', 'N49200', 'N3589', 'N64009', 'N8242', 'N12850', 'N58051', 'N46586', 'N17069', 'N39015', 'N28203', 'N61006', 'N34400', 'N22230', 'N36348', 'N20428', 'N55207', 'N30295', 'N13094', 'N37199', 'N24301', 'N7431', 'N21753', 'N26415', 'N40318', 'N32846', 'N39531', 'N45422', 'N7670', 'N4428', 'N32519', 'N38949', 'N1289', 'N59469', 'N43266', 'N65118', 'N62750', 'N57459', 'N8400', 'N58301', 'N14520', 'N7927', 'N18978', 'N3415', 'N38662', 'N57844', 'N12325', 'N57527', 'N5497', 'N50601', 'N55275', 'N36703', 'N39461', 'N3506', 'N21484', 'N34451', 'N1604', 'N28918', 'N51506', 'N29218', 'N45173', 'N23129', 'N58054', 'N10116', 'N37497', 'N55488', 'N3541', 'N23089', 'N41842', 'N17195', 'N27198', 'N349', 'N36288', 'N9719', 'N39949', 'N17357', 'N23864', 'N29964', 'N39267', 'N9158', 'N27583', 'N60585', 'N45211', 'N46283', 'N1952', 'N20178', 'N32890', 'N40438', 'N52662', 'N58814', 'N48416', 'N20486', 'N30814', 'N28934', 'N5288', 'N9457', 'N3339', 'N52554', 'N38311', 'N62570', 'N29952', 'N38315', 'N57014', 'N60606', 'N20270', 'N58549', 'N6916', 'N30454', 'N17140', 'N55281', 'N61296', 'N13816', 'N45442', 'N2578', 'N14285', 'N5889', 'N53899', 'N2869', 'N50014', 'N17104', 'N12392', 'N12839', 'N11138', 'N36424', 'N13730', 'N261', 'N12995', 'N3380', 'N37384', 'N54348', 'N4107', 'N10350', 'N28382', 'N25088']

In [130]:
print(val_behaviors_df['User ID'].nunique())
print(len(val_behaviors_df))
val_counts = val_behaviors_df['User ID'].value_counts()
print(val_counts)
val_more_than_1 = val_counts > 1
len(val_behaviors_df)
print(val_more_than_1[val_more_than_1 == True].sum())
print()

50000
73152
User ID
U38741    18
U67841    15
U86264    12
U82600    12
U32122    12
          ..
U52723     1
U52722     1
U52719     1
U52716     1
U1         1
Name: count, Length: 50000, dtype: int64
14826

In [ ]:
val_behaviors_df.head()
print(val_behaviors_df.iloc[0]['History'])
print(type(val_behaviors_df.iloc[0]['History']))
print("Empty Histories: " , val_behaviors_df["History"].isna().sum())
print("Not Empty Histories: ", val_behaviors_df['History'].notna().sum())

N23571 N58267 N25682 N10646 N32607 N57737 N52301 N596 N24356 N13374 N40207 N62058
<class 'str'>
Empty Histories:  2214
Not Empty Histories:  70938
  user_id                                            article
0      U1                                           [N20036]
1     U10                                           [N32536]
2  U10000                           [N31958, N50775, N60215]
3  U10002  [N50775, N436, N64264, N56434, N35676, N5940, ...
4  U10004                                   [N36779, N33176]

In [133]:
#aggregate the histories for each unique user
#since there are rows with the same User ID, we need to add the histories for each user together before going to the get_popularity_recs function
val_behaviors_df["History_list"] = val_behaviors_df["History"].str.split()
# Aggregate lists per user
val_behaviors_df["History_list"] = val_behaviors_df["History_list"].apply(lambda x: x if isinstance(x, list) else []) # make all empty Histories an empty list
val_df_grouped = val_behaviors_df.groupby("User ID")["History_list"].agg(lambda lists: sum(lists, [])).reset_index()
val_df_grouped["History_list"] = val_df_grouped["History_list"].apply(lambda x: list(set(x)))
print(val_df_grouped.head())

  User ID                                       History_list
0      U1  [N58267, N13374, N10646, N62058, N24356, N3260...
1     U10  [N57967, N64777, N9120, N9803, N36699, N2945, ...
2  U10000  [N40716, N46978, N19434, N47173, N2231, N63709...
3  U10002  [N29841, N1998, N37942, N25532, N50, N39117, N...
4  U10004  [N33859, N27251, N43482, N38118, N15627, N1887...

In [137]:
#For each user in val and test sets, get their recommendations while also filtering out their previously viewed articles in the 'History' field
def get_popularity_recs(df, k):
    user_recs = {}
    for _, row in df.iterrows():
        user_id = row["User ID"]
        #gets users previously clicked articles
        history = row['History_list']
        # for each item in the popularity list, add it to recommendations if its not in the users history
        filtered = [item for item in pop_list if item not in history]

        #grab top k
        user_recs[user_id] = filtered[:k]
    return user_recs

val_user_recs_10 = get_popularity_recs(val_df_grouped, k=10)
val_user_recs_50 = get_popularity_recs(val_df_grouped, k=50)

In [138]:
#get all clicked articles into a df to check for hit rate against this list of ground truth
val_impressions = get_impressions(val_behaviors_df)
val_impressions_clicked = val_impressions[val_impressions["impression"] == 1]
val_impressions_grouped = val_impressions_clicked.groupby("user_id")["article"].apply(list).reset_index()
print(val_impressions_grouped.head())

  user_id                                            article
0      U1                                           [N20036]
1     U10                                           [N32536]
2  U10000                           [N31958, N50775, N60215]
3  U10002  [N50775, N436, N64264, N56434, N35676, N5940, ...
4  U10004                                   [N36779, N33176]

In [139]:
# checks if the actual article clicked in the current validation impression is included in recs for each user 
# compares number of hits to the total number of articles clicked to get the hit rate with k items being recommended
def hit_rate_at_k(df,recs):
    hits = 0
    for _, row in df.iterrows():
        user_id = row["user_id"]
        articles = row["article"]
        for article in articles:
            if user_id in recs and article in recs[user_id]: #if we recommended one article that the user actually clicked on
                #print("got a hit")
                hits += 1
                break #if we get a hit, only count one hit per user or no hits per user 

    return (hits / len(df))*100

val_hr10 = hit_rate_at_k(val_impressions_grouped, val_user_recs_10)
val_hr50 = hit_rate_at_k(val_impressions_grouped, val_user_recs_50)
print(f"Validation Hit Rate@10: {val_hr10}")
print(f"Validation Hit Rate@50: {val_hr50}")

Validation Hit Rate@10: 0.122
Validation Hit Rate@50: 1.0619999999999998