## Part 1: Data Exploration

In [1]:
import pandas as pd

book_test_df = pd.read_csv('data/Books.test.csv.gz', compression='gzip', sep=',', header=0)
book_val_df = pd.read_csv('data/Books.valid.csv.gz', compression='gzip', sep=',', header=0)
book_train_df = pd.read_csv('data/Books.train.csv.gz', compression='gzip', sep=',', header=0)

book_train_df.head()

,user_id,parent_asin,rating,timestamp,history
0,AFKZENTNBQ7A7V7UXW5JJI6UGRYQ,1446304000,5.0,1441260345000,NaN
1,AFKZENTNBQ7A7V7UXW5JJI6UGRYQ,1564770672,5.0,1441260365000,1446304000
2,AFKZENTNBQ7A7V7UXW5JJI6UGRYQ,1442450703,5.0,1523093714024,1446304000 1564770672
3,AFKZENTNBQ7A7V7UXW5JJI6UGRYQ,1780671067,1.0,1611623223325,1446304000 1564770672 1442450703
4,AFKZENTNBQ7A7V7UXW5JJI6UGRYQ,1645671127,3.0,1612044209266,1446304000 1564770672 1442450703 1780671067

In [2]:
# Combine all interactions
merged_df = pd.concat([book_train_df, book_val_df, book_test_df], ignore_index=True)

In [5]:
print("Unique Users in all sets: " , merged_df['user_id'].nunique())
print("Unique Items in all sets: ", merged_df['parent_asin'].nunique())
print("Interactions across all sets: ", len(merged_df))

Unique Users in all sets:  776370
Unique Items in all sets:  495063
Interactions across all sets:  9488297

In [6]:
high_rating_mask = merged_df['rating'] >= 4

percent_high = high_rating_mask.mean() * 100
print(f"Percentage of reviews that are 4 or 5 stars: {percent_high:.2f}%")

Percentage of reviews that are 4 or 5 stars: 84.72%

In [2]:
book_test_df.head()

,user_id,parent_asin,rating,timestamp,history
0,AFKZENTNBQ7A7V7UXW5JJI6UGRYQ,0593235657,5.0,1640629604904,1446304000 1564770672 1442450703 1780671067 16...
1,AGKASBHYZPGTEPO6LWZPVJWB2BVA,0803736800,4.0,1454676557000,0811849783 0803729952 0735336296 1508558884 08...
2,AGXFEGMNVCSTSYYA5UWXDV7AFSXA,1542046599,5.0,1605649719611,1578052009 1477493395 1594747350 1594749310
3,AFWHJ6O3PV4JC7PVOJH6CPULO2KQ,0679450815,5.0,1638987703546,B00INIQVJA 1496407903 1974633225 B07KD27RHM 16...
4,AHXBL3QDWZGJYH7A5CMPFNUPMF7Q,1250866448,5.0,1669414969335,0920668372 1589255208 2764322836 2764330898 00...

In [3]:
book_val_df.head()

,user_id,parent_asin,rating,timestamp,history
0,AFKZENTNBQ7A7V7UXW5JJI6UGRYQ,1782490671,5.0,1640383495102,1446304000 1564770672 1442450703 1780671067 16...
1,AGKASBHYZPGTEPO6LWZPVJWB2BVA,0802737803,5.0,1454676232000,0811849783 0803729952 0735336296 1508558884
2,AGXFEGMNVCSTSYYA5UWXDV7AFSXA,1594749310,5.0,1541884305941,1578052009 1477493395 1594747350
3,AFWHJ6O3PV4JC7PVOJH6CPULO2KQ,1633573001,5.0,1612225279592,B00INIQVJA 1496407903 1974633225 B07KD27RHM
4,AHXBL3QDWZGJYH7A5CMPFNUPMF7Q,0451450523,2.0,1635710722120,0920668372 1589255208 2764322836 2764330898 00...

In [6]:
import gzip
import json

file_path = "data/meta_Books.jsonl.gz"

N = 5  # number of lines to preview

with gzip.open(file_path, 'rt', encoding='utf-8') as f:
    for i, line in enumerate(f):
        if i >= N:
            break
        try:
            obj = json.loads(line)
            print(json.dumps(obj, indent=2))
            print("-" * 50)
        except json.JSONDecodeError:
            print("Error decoding line:", line)

{
  "main_category": "Books",
  "title": "Chaucer",
  "subtitle": "Hardcover \u2013 Import, January 1, 2004",
  "author": {
    "avatar": "https://m.media-amazon.com/images/I/21Je2zja9pL._SY600_.jpg",
    "name": "Peter Ackroyd",
    "about": [
      "Peter Ackroyd, (born 5 October 1949) is an English biographer, novelist and critic with a particular interest in the history and culture of London. For his novels about English history and culture and his biographies of, among others, William Blake, Charles Dickens, T. S. Eliot and Sir Thomas More, he won the Somerset Maugham Award and two Whitbread Awards. He is noted for the volume of work he has produced, the range of styles therein, his skill at assuming different voices and the depth of his research.",
      "He was elected a fellow of the Royal Society of Literature in 1984 and appointed a Commander of the Order of the British Empire in 2003.",
      "Bio from Wikipedia, the free encyclopedia."
    ]
  },
  "average_rating": 4.5,
  "rating_number": 29,
  "features": [],
  "description": [],
  "price": 8.23,
  "images": [
    {
      "large": "https://m.media-amazon.com/images/I/41X61VPJYKL._SX334_BO1,204,203,200_.jpg",
      "variant": "MAIN"
    }
  ],
  "videos": [],
  "store": "Peter Ackroyd (Author)",
  "categories": [
    "Books",
    "Literature & Fiction",
    "History & Criticism"
  ],
  "details": {
    "Publisher": "Chatto & Windus; First Edition (January 1, 2004)",
    "Language": "English",
    "Hardcover": "196 pages",
    "ISBN 10": "0701169850",
    "ISBN 13": "978-0701169855",
    "Item Weight": "10.1 ounces",
    "Dimensions": "5.39 x 0.71 x 7.48 inches"
  },
  "parent_asin": "0701169850",
  "bought_together": null
}
--------------------------------------------------
{
  "main_category": "Books",
  "title": "Notes from a Kidwatcher",
  "subtitle": "First Edition",
  "author": {
    "avatar": "https://m.media-amazon.com/images/I/01Kv-W2ysOL._SY600_.png",
    "name": "Yetta M. Goodman",
    "about": [
      "Discover more of the author\u2019s books, see similar authors, read author blogs and more"
    ]
  },
  "average_rating": 5.0,
  "rating_number": 1,
  "features": [
    "Contains 23 selected articles by this influential writer, researcher, educator, and speaker. They're grouped around six major themes inherent in teacher education: culture and community; miscue analysis, reading strategies and comprehension; print awareness and the roots of literacy; the writing process; kidwatching; and whole language theory. No index. Annotation c. by Book News, Inc., Portland, Or."
  ],
  "description": [
    "About the Author",
    "SANDRA WILDE, Ph.D., is widely recognized for her expertise in developmental spelling and her advocacy of holistic approaches to spelling and phonics. She is Professor of Curriculum and Instruction at Portland State University in Oregon. She is best known for her work in invented spelling, phonics and miscue analysis. She specializes in showing teachers how kids' invented spellings and miscues can help us work with them in more sophisticated and learner-centered ways. Looking at what kids do as they read and write is at the heart of Sandra's presentations and workshops. She can do lively keynote presentations that highlight the interesting things that we can learn by paying close attention to students' invented spellings and miscues, as well as workshops of varying lengths that focus on student-centered teaching of spelling and phonics. She has recently begun offering workshops that focus on understanding students' miscues as a guide to appropriate instruction, p"
  ],
  "price": 3.52,
  "images": [
    {
      "large": "https://m.media-amazon.com/images/I/41bfTRxpMML._SX218_BO1,204,203,200_QL40_FMwebp_.jpg",
      "variant": "MAIN"
    }
  ],
  "videos": [],
  "store": "Sandra Wilde (Editor)",
  "categories": [
    "Books",
    "Reference",
    "Words, Language & Grammar"
  ],
  "details": {
    "Publisher": "Heinemann; First Edition (May 20, 1996)",
    "Language": "English",
    "Paperback": "316 pages",
    "ISBN 10": "0435088688",
    "ISBN 13": "978-0435088682",
    "Item Weight": "1.05 pounds",
    "Dimensions": "6.03 x 0.67 x 8.95 inches"
  },
  "parent_asin": "0435088688",
  "bought_together": null
}
--------------------------------------------------
{
  "main_category": "Books",
  "title": "Service: A Navy SEAL at War",
  "subtitle": "Hardcover \u2013 May 8, 2012",
  "author": {
    "avatar": "https://m.media-amazon.com/images/I/31rBoNEHiFL._SY600_.jpg",
    "name": "Marcus Luttrell",
    "about": [
      "Petty Officer First Class Marcus Luttrell was born in Huntsville, Texas in 1975."
    ]
  },
  "average_rating": 4.7,
  "rating_number": 3421,
  "features": [
    "Marcus Luttrell, author of the #1 bestseller",
    "Lone Survivor",
    ", share war stories about true American heroism from himself and other soldiers who bravely fought alongside him.",
    "Navy SEAL Marcus Luttrell returned from his star-crossed mission in Afghanistan with his bones shattered and his heart broken. So many had given their lives to save him -- and he would have readily done the same for them. As he recuperated, he wondered why he and others, from America's founding to today, had been willing to sacrifice everything-including themselves-for the sake of family, nation, and freedom.  In",
    "Service",
    ", we follow Marcus Luttrell to Iraq, where he returns to the battlefield as a member of SEAL Team 5 to help take on the most dangerous city in the world: Ramadi, the capital of war-torn Al Anbar Province. There, in six months of high-intensity urban combat, he would be part of what has been called the greatest victory in the history of U.S. Special Operations forces. We also return to Afghanistan and Operation Redwing, where Luttrell offers powerful new details about his miraculous rescue. Throughout, he reflects on what it really means to take on a higher calling, about the men he's seen lose their lives for their country, and the legacy of those who came and bled before.  A thrilling war story,",
    "Service",
    "is also a profoundly moving tribute to the warrior brotherhood, to the belief that nobody goes it alone, and no one will be left behind."
  ],
  "description": [
    "Review",
    "Praise for SERVICE\"An action-packed...reflective saga of contemporary military service.\"\u2015",
    "Kirkus Reviews",
    "\"Marcus Luttrell, with James D. Hornfischer, has written another emotional story that the reader will not want to put down.\"\u2015",
    "American Thinker",
    "About the Author",
    "Marcus Luttrell",
    "became a combat-trained Navy SEAL in 2002 and served in many dangerous Special Operations assignments around the world. He is the author of the",
    "New York Times",
    "bestseller",
    "Lone Survivor",
    ", and is a popular corporate and organizational speaker. He lives near Houston, Texas.\u00a0James D. Hornfischer\u00a0is the author of four bestselling books on the U.S. Navy in World War II,",
    "The Fleet at Flood",
    "Tide",
    ",",
    "Neptune's",
    "Inferno, Ship of Ghosts,",
    "and",
    "The Last Stand of the Tin Can Sailors,",
    "winner of the Samuel Eliot Morison Award. He lives in Austin, Texas."
  ],
  "price": 17.17,
  "images": [
    {
      "large": "https://m.media-amazon.com/images/I/41YQHDWRyGL._SX321_BO1,204,203,200_.jpg",
      "variant": "MAIN"
    }
  ],
  "videos": [],
  "store": "Marcus Luttrell (Author),  James D. Hornfischer",
  "categories": [
    "Books",
    "Biographies & Memoirs",
    "Leaders & Notable People"
  ],
  "details": {
    "Publisher": "Little, Brown and Company; 1st edition (May 8, 2012)",
    "Language": "English",
    "Hardcover": "384 pages",
    "ISBN 10": "9780316185363",
    "ISBN 13": "978-0316185363",
    "Item Weight": "1.4 pounds",
    "Dimensions": "6.25 x 1.55 x 9.55 inches"
  },
  "parent_asin": "0316185361",
  "bought_together": null
}
--------------------------------------------------
{
  "main_category": "Books",
  "title": "Monstrous Stories #4: The Day the Mice Stood Still",
  "subtitle": "Paperback \u2013 October 29, 2013",
  "author": null,
  "average_rating": 4.4,
  "rating_number": 40,
  "features": [
    "Funny, light-hearted monster stories that are perfect for young readers, brought to us by the esteemed Dr. Roach.Jilly can't believe what she's seeing when she wakes up one seemingly normal morning. All the mice in her small town of Buffalo Bottom have gone strangely still. What could make a town full of rodents suddenly freeze up?Things only get weirder, though, when the town is suddenly visited by a flying saucer--full of talking cats! These friendly felines say they come in peace, to help rid Buffalo Bottom of its mouse problem. But when the town's cows start disappearing mysteriously, Jilly suspects the visitors may be up to no good. Now she just has to prove it."
  ],
  "description": [],
  "price": 7.43,
  "images": [
    {
      "large": "https://m.media-amazon.com/images/I/614Mx0QCe7L._SX339_BO1,204,203,200_.jpg",
      "variant": "MAIN"
    }
  ],
  "videos": [],
  "store": "Dr. Roach (Author)",
  "categories": [
    "Books",
    "Children's Books",
    "Science Fiction & Fantasy"
  ],
  "details": {
    "Publisher": "Scholastic Paperbacks; Reprint edition (October 29, 2013)",
    "Language": "English",
    "Paperback": "64 pages",
    "ISBN 10": "0545425573",
    "ISBN 13": "978-0545425575",
    "Reading age": "7 - 10 years",
    "Lexile measure": "590L",
    "Grade level": "2 - 5",
    "Item Weight": "1.92 ounces",
    "Dimensions": "5.25 x 0.2 x 7.5 inches"
  },
  "parent_asin": "0545425573",
  "bought_together": null
}
--------------------------------------------------
{
  "main_category": "Buy a Kindle",
  "title": "Parker & Knight",
  "subtitle": "Kindle Edition",
  "author": {
    "avatar": "https://m.media-amazon.com/images/S/amzn-author-media-prod/p5em8p7bskq0m3fr3tncs8ghcf._SY600_.jpg",
    "name": "Donald Wells",
    "about": [
      "Discover more of the author\u2019s books, see similar authors, read author blogs and more"
    ]
  },
  "average_rating": 4.5,
  "rating_number": 381,
  "features": [
    "From REMINGTON KANE, the author of The Taken! & Tanner SeriesPARKER & KNIGHT",
    "When beautiful, nineteen-year-old Tiffany Grace is found murdered inside the house next door, Detectives Rick Parker and Joanna Knight are brought in to investigate.What they find is a tangled web of love, lies and infidelity between the homeowners, Alex and Mandy Kent, and their young neighbors, murder victim, Tiffany Grace, and her handsome brother, Steve.As Parker wades through the Kents' marital woes, he also has to deal with his own, as his marriage comes to a close.Did Alex Kent kill Tiffany, a young woman he lusted for deeply? Or did Mandy Kent kill her, to keep her from her husband? The truth is more twisted than Parker and Knight could have imagined."
  ],
  "description": [],
  "price": 0.0,
  "images": [
    {
      "large": "https://m.media-amazon.com/images/I/41j6GpAqFBL.jpg",
      "variant": "MAIN"
    }
  ],
  "videos": [],
  "store": "Remington Kane (Author)   Format: Kindle Edition",
  "categories": [
    "Books",
    "Mystery, Thriller & Suspense",
    "Thrillers & Suspense"
  ],
  "details": {
    "Publication date": "May 18, 2014",
    "Language": "English",
    "File size": "1542 KB",
    "Simultaneous device usage": "Unlimited",
    "Text to Speech": "Enabled",
    "Screen Reader": "Supported",
    "Enhanced typesetting": "Enabled",
    "X Ray": "Not Enabled",
    "Word Wise": "Enabled",
    "Sticky notes": "On Kindle Scribe",
    "Print length": "233 pages"
  },
  "parent_asin": "B00KFOP3RG",
  "bought_together": null
}
--------------------------------------------------

In [7]:
len(book_train_df)

7935557

In [8]:
len(book_val_df)

776370

In [ ]:
len(book_test_df)